body {
  margin: 0;
  background: #35393C !important;
  color:#ffffff !important;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.content {
  padding: 30px;
}

.header {
  padding: 10px;
  background: #00c49a;
  border-bottom: 1px solid #999;
}

.header a {
  color: #35393c;
  text-decoration: none;
  margin-left: 20px;
  margin-right: 5px;
}

.header a:hover {
  color: #ffd400;
}
.header small {
  color: #666;
}
.header .active {
  color: #faf9f9;
}

#centered {
  margin: 0;
  color: white !important;
  width: 20%;
  padding: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* POPUPS */

.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0,0,0, 0.5);
}
.popup_inner {
  position: absolute;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  margin: auto;
  border-radius: 20px;
  background: #e9ebec;
}

.popup_inner button{
  margin: 0;
  width: 15%;
  position: absolute;
  bottom: 15%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.popup_inner h1{
  margin: 2%;
  position: absolute;
}

.popup_dropdown{
  margin: 2;
  width: 15%;
  position: absolute;
  text-align: center;
  top: 20%;
}

/*Notes List*/

.NotesList{
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Calendar Buttons */
.fc .fc-button-primary{
  color: #fff;
  color: var(--fc-button-text-color, #fff);
  background-color: #a52e1f !important ;
  background-color: var(--fc-button-bg-color, #00c49a) !important ;
  border-color: #ffd400 !important  ; 
  border-color: var(--fc-button-border-color, #070707);
}

/*Modal windows */
.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #e9ebec;
  color:#35393C;
  margin: auto;
  padding: 2%;
  border: 1px solid #888;
  width: 40%;
}

.modal-element{
  padding-top: 1rem;
}

.priority-icon-filled{
  color: #ffd400;
}

.modal-content button{
  margin-left: 30%;
  width: 40%;
}

.category-prio-pair{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  margin-left: 90%;
  font-size: 2rem;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #ac3931;
  text-decoration: none;
  cursor: pointer;
}

/*Notes*/

.note-container{
  display: flex;
  flex-direction: column;
}


.note-container #body{
  margin-bottom: 1rem;
  border: .3rem dotted rgba(0, 0, 0, 0.3);
  padding: .4rem;
}


/*User edit panel*/

.edit-panel{
  display: flex;
  flex-direction: column;
  align-items: center;
}


.user-edit-forms-header{
  width: 45.5rem;
  text-align: center;
  height: 2rem;
  padding: 2rem;
}

#user-edit-field {
  margin: .5rem;
  padding: .5rem;
}

.user-edit-forms{
  display: flex;
  flex-direction: row;
}

.user-edit-form{
  height: 150%;
  margin: 2rem;
  padding: .5rem
}

/* Login Panel*/

.login-panel{
  display: flex;
  border-radius: .3rem;
  flex-direction: column;
  background-color: #e9ebec ;
}

.login-form-header{
  text-align: center;
  margin-bottom: .3rem;
}

.credentials-input{
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin-bottom: 1rem;
}

.login-form-button{
  display: flex;
  margin-bottom: 1rem;
  flex-direction: row;
  justify-content: center;
}
